-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: restaurant_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`id`, `username`, `email`, `phone`, `password`, `role`, `enabled`, `promo_code`, `discount_percent`, `promo_expires`, `promo_active`, `created_at`, `updated_at`) VALUES (1,'admin','admin@restaurant.com','+1234567890','$2a$10$qZSb835odUVHGOjXTbM5cOy6WSZWee4TYMkixHAerEDgdXLVnY8Qy','ADMIN',1,NULL,0.00,NULL,0,'2025-10-20 12:37:08','2025-10-26 15:50:28');
INSERT INTO `users` (`id`, `username`, `email`, `phone`, `password`, `role`, `enabled`, `promo_code`, `discount_percent`, `promo_expires`, `promo_active`, `created_at`, `updated_at`) VALUES (2,'john_customer','john@example.com','+1234567891','$2a$10$xKHSwKGfXqZxEJeGW5HEtuGzDqRnWUXD0vbH1K5PkQ4YKh8Brs.Zy','USER',1,NULL,0.00,NULL,0,'2025-10-20 12:37:08','2025-10-26 15:50:39');
INSERT INTO `users` (`id`, `username`, `email`, `phone`, `password`, `role`, `enabled`, `promo_code`, `discount_percent`, `promo_expires`, `promo_active`, `created_at`, `updated_at`) VALUES (3,'sarah_manager','sarah@restaurant.com','+1234567892','$2a$10$xKHSwKGfXqZxEJeGW5HEtuGzDqRnWUXD0vbH1K5PkQ4YKh8Brs.Zy','MANAGER',1,NULL,0.00,NULL,0,'2025-10-20 12:37:08','2025-10-20 12:37:08');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
INSERT INTO `menus` (`id`, `name`, `description`, `price`, `category`, `is_available`, `image_url`, `preparation_time`, `ingredients`, `is_vegetarian`, `is_vegan`, `is_gluten_free`, `is_spicy`, `spice_level`, `stock_quantity`, `low_stock_threshold`, `is_featured`, `discount_percentage`, `discounted_price`, `created_at`, `updated_at`) VALUES (112,'Pineapple juice','Pineapple juice',300.00,'Beverages',1,'/images/menu/menu_item_20251025_efa43589.jpg',10,'Pineapple, salt, sugar',0,0,0,0,NULL,NULL,NULL,NULL,NULL,300.00,'2025-10-25 09:51:01','2025-10-25 10:20:38');
INSERT INTO `menus` (`id`, `name`, `description`, `price`, `category`, `is_available`, `image_url`, `preparation_time`, `ingredients`, `is_vegetarian`, `is_vegan`, `is_gluten_free`, `is_spicy`, `spice_level`, `stock_quantity`, `low_stock_threshold`, `is_featured`, `discount_percentage`, `discounted_price`, `created_at`, `updated_at`) VALUES (154,'Mango Juice','Fresh Mango Juice',300.00,'Beverages',1,'/images/menu/menu_item_20251025_3c894640.jpg',10,'Mango, salt, sugar',0,0,0,0,NULL,NULL,NULL,NULL,NULL,300.00,'2025-10-25 10:28:08','2025-10-25 15:58:08');
INSERT INTO `menus` (`id`, `name`, `description`, `price`, `category`, `is_available`, `image_url`, `preparation_time`, `ingredients`, `is_vegetarian`, `is_vegan`, `is_gluten_free`, `is_spicy`, `spice_level`, `stock_quantity`, `low_stock_threshold`, `is_featured`, `discount_percentage`, `discounted_price`, `created_at`, `updated_at`) VALUES (155,'Watermelon','Fresh Watermelon Juice',250.00,'Beverages',1,'/images/menu/menu_item_20251025_bcfcaf42.jpg',7,'Watermelon, sugar',0,0,0,0,NULL,NULL,NULL,NULL,NULL,250.00,'2025-10-25 10:29:42','2025-10-25 15:59:42');
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` (`id`, `user_id`, `order_date`, `status`, `total_amount`, `subtotal`, `tax_amount`, `delivery_fee`, `payment_method`, `payment_status`, `delivery_address`, `delivery_phone`, `special_instructions`, `order_type`, `estimated_delivery_time`, `actual_delivery_time`, `created_at`, `updated_at`, `driver_id`) VALUES (8,5,'2025-10-25 18:54:56','OUT_FOR_DELIVERY',1155.00,1050.00,105.00,0.00,'DEPOSIT_SLIP','PENDING','123, SLIIT, malabe, col, 56789','+94123456789','test order customer1','DELIVERY',NULL,NULL,'2025-10-25 13:24:56','2025-10-26 11:12:01',13);
INSERT INTO `orders` (`id`, `user_id`, `order_date`, `status`, `total_amount`, `subtotal`, `tax_amount`, `delivery_fee`, `payment_method`, `payment_status`, `delivery_address`, `delivery_phone`, `special_instructions`, `order_type`, `estimated_delivery_time`, `actual_delivery_time`, `created_at`, `updated_at`, `driver_id`) VALUES (9,5,'2025-10-25 19:00:20','PENDING',3685.00,3350.00,335.00,0.00,'DEPOSIT_SLIP','PENDING','123, SLIIT, malabe, col, 56789','+94123456789','test 5','DELIVERY',NULL,NULL,'2025-10-25 13:30:20','2025-10-25 13:30:20',NULL);
INSERT INTO `orders` (`id`, `user_id`, `order_date`, `status`, `total_amount`, `subtotal`, `tax_amount`, `delivery_fee`, `payment_method`, `payment_status`, `delivery_address`, `delivery_phone`, `special_instructions`, `order_type`, `estimated_delivery_time`, `actual_delivery_time`, `created_at`, `updated_at`, `driver_id`) VALUES (10,5,'2025-10-25 19:06:24','PENDING',935.00,850.00,85.00,0.00,'DEPOSIT_SLIP','PENDING','123, SLIIT, malabe, col, 56789','+94123456789','rewq','DELIVERY',NULL,NULL,'2025-10-25 13:36:24','2025-10-25 13:36:24',NULL);
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantity`, `unit_price`, `total_price`, `special_instructions`) VALUES (8,8,155,1,250.00,250.00,'');
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantity`, `unit_price`, `total_price`, `special_instructions`) VALUES (9,8,158,1,350.00,350.00,'');
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantity`, `unit_price`, `total_price`, `special_instructions`) VALUES (10,8,157,1,450.00,450.00,'');
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `drivers`
--

LOCK TABLES `drivers` WRITE;
/*!40000 ALTER TABLE `drivers` DISABLE KEYS */;
INSERT INTO `drivers` (`id`, `user_id`, `name`, `phone`, `license_number`, `vehicle_number`, `vehicle_type`, `vehicle_model`, `available`, `rating`, `total_deliveries`, `created_at`, `updated_at`) VALUES (1,9,'driver1','0771234567','B1234567','CAA-1234','Motorcycle',NULL,1,4.50,0,'2025-10-26 15:03:03','2025-10-26 17:40:54');
INSERT INTO `drivers` (`id`, `user_id`, `name`, `phone`, `license_number`, `vehicle_number`, `vehicle_type`, `vehicle_model`, `available`, `rating`, `total_deliveries`, `created_at`, `updated_at`) VALUES (2,10,'driver2','0771234568','DL-9876543','BAA-5678','Motorcycle',NULL,1,4.50,0,'2025-10-26 15:03:03','2025-10-26 17:40:54');
INSERT INTO `drivers` (`id`, `user_id`, `name`, `phone`, `license_number`, `vehicle_number`, `vehicle_type`, `vehicle_model`, `available`, `rating`, `total_deliveries`, `created_at`, `updated_at`) VALUES (3,11,'driver3','0771234569','A7654321','CAB-9012','Motorcycle',NULL,1,4.50,0,'2025-10-26 15:03:03','2025-10-26 17:40:54');
/*!40000 ALTER TABLE `drivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deliveries`
--

LOCK TABLES `deliveries` WRITE;
/*!40000 ALTER TABLE `deliveries` DISABLE KEYS */;
/*!40000 ALTER TABLE `deliveries` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delivery_insert
BEFORE INSERT ON deliveries
FOR EACH ROW
BEGIN
    DECLARE prep_time INT;
    DECLARE delivery_time INT;
    DECLARE total_time INT;
    DECLARE order_created_at DATETIME;
    
    
    IF NEW.distance_km > 7.00 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Delivery distance exceeds maximum limit of 7km';
    END IF;
    
    
    SELECT order_date INTO order_created_at
    FROM orders WHERE id = NEW.order_id;
    
    
    SET prep_time = calculate_order_preparation_time(NEW.order_id);
    
    
    SET delivery_time = calculate_delivery_duration(NEW.distance_km);
    
    
    SET total_time = prep_time + delivery_time;
    
    
    SET NEW.estimated_delivery_time = DATE_ADD(order_created_at, INTERVAL total_time MINUTE);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delivery_update
BEFORE UPDATE ON deliveries
FOR EACH ROW
BEGIN
    DECLARE prep_time INT;
    DECLARE delivery_time INT;
    DECLARE total_time INT;
    DECLARE order_created_at DATETIME;
    
    
    IF NEW.distance_km > 7.00 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Delivery distance exceeds maximum limit of 7km';
    END IF;
    
    
    IF NEW.distance_km != OLD.distance_km OR NEW.order_id != OLD.order_id THEN
        
        SELECT order_date INTO order_created_at
        FROM orders WHERE id = NEW.order_id;
        
        
        SET prep_time = calculate_order_preparation_time(NEW.order_id);
        
        
        SET delivery_time = calculate_delivery_duration(NEW.distance_km);
        
        
        SET total_time = prep_time + delivery_time;
        
        
        SET NEW.estimated_delivery_time = DATE_ADD(order_created_at, INTERVAL total_time MINUTE);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_slips`
--

LOCK TABLES `payment_slips` WRITE;
/*!40000 ALTER TABLE `payment_slips` DISABLE KEYS */;
INSERT INTO `payment_slips` (`id`, `order_id`, `user_id`, `file_name`, `file_path`, `file_size`, `content_type`, `payment_amount`, `payment_date`, `bank_name`, `transaction_reference`, `status`, `uploaded_at`, `confirmed_at`, `confirmed_by`, `rejection_reason`, `admin_notes`) VALUES (5,13,5,'Background.jpg','/images/payment-slips/payment_slip_1761420762359_59c9a187.jpg',436848,'image/jpeg',4134.00,'2025-10-25 14:02:42','Bank Transfer',NULL,'CONFIRMED','2025-10-25 14:02:42','2025-10-25 21:01:23','admin',NULL,NULL);
INSERT INTO `payment_slips` (`id`, `order_id`, `user_id`, `file_name`, `file_path`, `file_size`, `content_type`, `payment_amount`, `payment_date`, `bank_name`, `transaction_reference`, `status`, `uploaded_at`, `confirmed_at`, `confirmed_by`, `rejection_reason`, `admin_notes`) VALUES (8,24,18,'7.jpg','/images/payment-slips/payment_slip_1761492703698_e8815e42.jpg',3104438,'image/jpeg',2520.00,'2025-10-26 10:01:43','Bank Transfer',NULL,'CONFIRMED','2025-10-26 10:01:43','2025-10-26 16:03:27','admin',NULL,NULL);
/*!40000 ALTER TABLE `payment_slips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` (`id`, `user_id`, `title`, `message`, `type`, `status`, `created_at`, `read_at`, `reference_id`, `reference_type`, `is_global`) VALUES (1,NULL,'Welcome to Our Restaurant System','Thank you for choosing our restaurant! Enjoy exclusive offers and fast service.','SYSTEM_ANNOUNCEMENT','UNREAD','2025-10-20 13:54:10',NULL,NULL,NULL,1);
INSERT INTO `notifications` (`id`, `user_id`, `title`, `message`, `type`, `status`, `created_at`, `read_at`, `reference_id`, `reference_type`, `is_global`) VALUES (2,2,'Order Confirmed','Your order #1001 has been confirmed and is being prepared.','ORDER_CONFIRMATION','READ','2025-10-20 11:54:10','2025-10-20 18:24:10',1001,'ORDER',0);
INSERT INTO `notifications` (`id`, `user_id`, `title`, `message`, `type`, `status`, `created_at`, `read_at`, `reference_id`, `reference_type`, `is_global`) VALUES (3,2,'Order Out for Delivery','Your order #1001 is on the way! Expected delivery in 20 minutes.','DELIVERY_UPDATE','READ','2025-10-20 13:24:10','2025-10-20 18:59:10',1001,'ORDER',0);
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order_tracking`
--

LOCK TABLES `order_tracking` WRITE;
/*!40000 ALTER TABLE `order_tracking` DISABLE KEYS */;
INSERT INTO `order_tracking` (`id`, `order_id`, `status`, `title`, `description`, `timestamp`, `completed`, `actor`) VALUES (13,19,'payment_confirmed','Payment Confirmed','Payment was verified by admin: admin','2025-10-26 09:47:26',1,NULL);
INSERT INTO `order_tracking` (`id`, `order_id`, `status`, `title`, `description`, `timestamp`, `completed`, `actor`) VALUES (14,19,'payment_rejected','Payment Rejected','Payment verification failed: null','2025-10-26 09:47:54',0,NULL);
INSERT INTO `order_tracking` (`id`, `order_id`, `status`, `title`, `description`, `timestamp`, `completed`, `actor`) VALUES (15,19,'payment_rejected','Payment Rejected','Payment verification failed: Invalid transaction reference - does not match bank records','2025-10-26 09:48:50',0,NULL);
/*!40000 ALTER TABLE `order_tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
INSERT INTO `system_settings` (`id`, `setting_key`, `setting_value`, `description`, `updated_at`) VALUES (1,'delivery_fee','400.00','Delivery fee charged for delivery orders (LKR)','2025-10-26 16:02:25');
INSERT INTO `system_settings` (`id`, `setting_key`, `setting_value`, `description`, `updated_at`) VALUES (2,'tax_rate','0.10','Tax rate applied to orders','2025-10-26 16:02:34');
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-27  0:04:43
